*.class


# Package Files #
*.jar
*.war
*.ear

*target/**

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.classpath
.settings

ImaModel2.editor/.classpath
ImaModel2.editor/.settings/

ImaModel2.edit/.classpath
ImaModel2.edit/.settings/

ImaModel2.tests/.classpath
ImaModel2.tests/.settings/

esir3.ima.twitter.compilator/META-INF/
