*.class


# Package Files #
*.jar
*.war
*.ear

*target/**

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings
ImaModel2.editor/.settings/
ImaModel2.edit/.settings/
ImaModel2.tests/.settings/

