<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated imaModel2 -->
      <package
            uri="http://www.example.org/imaModel2"
            class="imaModel2.ImaModel2Package"
            genModel="model/imaModel2.genmodel"/>
   </extension>

</plugin>
